
.jumbotron {
    padding-top: 6rem;
    background-color: #e1f2f7;
    overflow-x: hidden;
}

#hobby {
    background-color: #e1f2f7;
    padding-top: 6rem;
    overflow-x: hidden;
}

#about{
    padding-top: 6rem;
    overflow-x: hidden;
}

.section{
    padding-top: 6rem;
    overflow-x: hidden;
    max-width: 100%;
}

#contact{
    background-color: #e1f2f7; 
    overflow-x: hidden;
}

#e-certificate{
    padding-top: 6rem;
    overflow-x: hidden;
}